Repository crocs-muni/ECTester: changes, and which Codecov flags are due for each by the changed paths.
All: Applet, Common, Reader, Standalone

Allow for passing Random to wolfCrypt.
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/WolfCryptLib.java
Due: Standalone

Add deterministic PRNG support to Nettle.
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/NettleLib.java
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/native.h
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/nettle.c
Due: Standalone

Add deterministic PRNG support to ippcp.
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/IppcpLib.java
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/ippcp.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/native.h
Due: Standalone

Build last 100 revisions of BoringSSL
  flake.nix
  nix/boringssl_pkg_versions.nix
Due: none

Compute BoringSSL source digests locally
  fetchReleases.py
Due: none

Autoformat all Nix sources
  flake.nix
  nix/boringssl_pkg_versions.nix
  nix/boringsslshim.nix
  nix/botan_pkg_versions.nix
  nix/botanshim.nix
  nix/commonlibs.nix
  nix/cryptopp_pkg_versions.nix
  nix/cryptoppshim.nix
  nix/gcrypt_pkg_versions.nix
  nix/gcryptshim.nix
  nix/ippcp_pkg_versions.nix
  nix/ippcpshim.nix
  nix/libressl_pkg_versions.nix
  nix/mbedtls_pkg_versions.nix
  nix/mbedtlsshim.nix
  nix/nettle_pkg_versions.nix
  nix/nettleshim.nix
  nix/openssl_pkg_versions.nix
  nix/opensslshim.nix
  nix/tomcrypt_pkg_versions.nix
  nix/tomcryptshim.nix
  nix/x
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/Makefile
Due: Standalone

Add deterministic RNG to mbedTLS.
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/MbedTLSLib.java
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/mbedtls.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/native.h
  standalone/src/test/java/cz/crcs/ectester/standalone/AppTests.java
Due: Standalone

Add deterministic RNG to Crypto++.
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/CryptoppLib.java
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/cryptopp.cpp
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/native.h
  standalone/src/test/java/cz/crcs/ectester/standalone/AppTests.java
Due: Standalone

Split off deterministic tests.
  standalone/src/main/java/cz/crcs/ectester/standalone/ECTesterStandalone.java
  standalone/src/test/java/cz/crcs/ectester/standalone/AppTests.java
  standalone/src/test/java/cz/crcs/ectester/standalone/DeterministicTests.java
Due: Standalone

WolfCrypt is not deterministic?
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/WolfCryptLib.java
Due: Standalone

Fix listSuites.
  standalone/build.gradle.kts
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneTestSuite.java
Due: Standalone

Add deterministic PRNG example to docs.
  README.md
  standalone/src/test/java/cz/crcs/ectester/standalone/DeterministicTests.java
Due: Standalone

Continue on test errors.
  .github/workflows/build.yml
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandalonePerformanceSuite.java
Due: Standalone

Try to see what goes wrong in the tests.
  .github/workflows/build.yml
  standalone/build.gradle.kts
Due: Standalone

Fix test path for codecov.
  .github/workflows/build.yml
  standalone/build.gradle.kts
Due: Standalone

Do not ignore failures in standalone tests.
  standalone/build.gradle.kts
Due: Standalone

Recalculate correct OpenSSL source hashes
  fetchReleases.py
  nix/openssl_pkg_versions.nix
Due: none

Add preload library for spoofing system RNG outputs.
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/Makefile
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/gcrypt.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/preload.c
Due: Standalone

Remove accidental copy
  nix/x
Due: none

Update BoringSSL hashes
  nix/boringssl_pkg_versions.nix
Due: none

Store package versions in JSON to simplify reusability
  fetchReleases.py
  flake.nix
  nix/boringssl_pkg_versions.json
  nix/boringssl_pkg_versions.nix
  nix/botan_pkg_versions.json
  nix/botan_pkg_versions.nix
  nix/cryptopp_pkg_versions.json
  nix/cryptopp_pkg_versions.nix
  nix/gcrypt_pkg_versions.json
  nix/gcrypt_pkg_versions.nix
  nix/ippcp_pkg_versions.json
  nix/ippcp_pkg_versions.nix
  nix/libressl_pkg_versions.json
  nix/libressl_pkg_versions.nix
  nix/mbedtls_pkg_versions.json
  nix/mbedtls_pkg_versions.nix
  nix/nettle_pkg_versions.json
  nix/nettle_pkg_versions.nix
  nix/openssl_pkg_versions.json
  nix/openssl_pkg_versions.nix
  nix/tomcrypt_pkg_versions.nix
Due: none

Allow fetching all libraries
  fetchReleases.py
Due: none

Patch only LibreSSL 3.8.2
  flake.nix
Due: none

Allow building the shims directly
  flake.nix
Due: none

Make gcrypt amenable to deterministic RNG by enabling FIPS PRNG.
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/Makefile
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/gcrypt.c
Due: Standalone

Autoformat all JSON files
  nix/boringssl_pkg_versions.json
  nix/botan_pkg_versions.json
  nix/cryptopp_pkg_versions.json
  nix/gcrypt_pkg_versions.json
  nix/ippcp_pkg_versions.json
  nix/libressl_pkg_versions.json
  nix/mbedtls_pkg_versions.json
  nix/nettle_pkg_versions.json
  nix/openssl_pkg_versions.json
Due: none

Only Botan 2 is currently tested
  nix/botan_pkg_versions.json
  testing_building_all_shims.py
Due: none

Add script for testing building all shims
  flake.nix
  test_building_all_shims.py
Due: none

Call the correct script name
  flake.nix
Due: none

Show how long it takes to (re)build a shim
  test_building_all_shims.py
Due: none

Fallback to HOME enviromental var
  common/src/main/java/cz/crcs/ectester/common/util/FileUtil.java
Due: Common

Add deterministic PRNG via preload of RNG functions.
  standalone/build.gradle.kts
  standalone/src/main/java/cz/crcs/ectester/standalone/ECTesterStandalone.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/BoringsslLib.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/GcryptLib.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/LibresslLib.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/NativeECLibrary.java
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/Makefile
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/c_preload.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/c_prng.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/native.h
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/preload.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/KeccakDuplex-common.h
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/KeccakDuplex.inc
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/KeccakDuplexWidth200.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/KeccakDuplexWidth200.h
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/KeccakP-200-SnP.h
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/KeccakP-200-compact.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/KeccakPRG-common.h
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/KeccakPRG.h
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/KeccakPRG.inc
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/KeccakPRGWidth200.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/KeccakPRGWidth200.h
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/align.h
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/prng.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/prng/prng.h
  standalone/src/test/java/cz/crcs/ectester/standalone/DeterministicTests.java
Due: Standalone

Ditch preload.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/preload.c
Due: Standalone

Fix orphan import.
  standalone/src/main/java/cz/crcs/ectester/standalone/ECTesterStandalone.java
Due: Standalone

Fallback only if user.home is junk.
  common/src/main/java/cz/crcs/ectester/common/util/FileUtil.java
Due: Common

Do not test deterministic LibreSSL in CI.
  standalone/src/test/java/cz/crcs/ectester/standalone/DeterministicTests.java
Due: Standalone

Log error in test shim build.
  test_building_all_shims.py
Due: none

Build prng and preload as part of common libs
  nix/commonlibs.nix
Due: none

Build library shims only when selected
  flake.nix
Due: none

Show the correct version when building for all shims except TomCrypt (for now)
  flake.nix
Due: none

Path conditions:
  Applet: any of: applet/**
  Common: any of: common/**
  Reader: any of: reader/**
  Standalone: any of: standalone/**
