Repository crocs-muni/ECTester: changes, and which Codecov flags are due for each by the changed paths.
All: Applet, Common, Reader, Standalone

Fix codecov.yml
  .codecov.yml
Due: none

Aggregate test coverage over subprojects.
  reader/build.gradle.kts
  standalone/build.gradle.kts
Due: Reader, Standalone

Move coverage reports where codecov finds them.
  reader/build.gradle.kts
  standalone/build.gradle.kts
Due: Reader, Standalone

Make standalone Cofactor suite not use runTest.
  common/src/main/java/cz/crcs/ectester/common/test/CompoundTest.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/KeyAgreementTestable.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCofactorSuite.java
Due: Common, Standalone

Cleanup ident handling in standalone.
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCofactorSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCompositeSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneDefaultSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneDegenerateSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneEdgeCasesSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneInvalidSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneMiscSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandalonePerformanceSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneSignatureSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneTestSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneTwistSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneWrongSuite.java
Due: Standalone

Standalone cleanup.
  standalone/src/main/java/cz/crcs/ectester/standalone/ECTesterStandalone.java
  standalone/src/main/java/cz/crcs/ectester/standalone/output/TextTestWriter.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/KeyAgreementTestable.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/PerformanceTest.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/SignatureTestable.java
Due: Standalone

Move conversion to custom curve to params class.
  common/src/main/java/cz/crcs/ectester/common/ec/EC_Curve.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneWrongSuite.java
Due: Common, Standalone

Remove runTest from edge-cases suite.
  common/src/main/java/cz/crcs/ectester/common/test/CompoundTest.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCofactorSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneEdgeCasesSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneTestSuite.java
Due: Common, Standalone

Remove runTest from wrong suite.
  common/src/main/java/cz/crcs/ectester/common/test/CompoundTest.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneWrongSuite.java
Due: Common, Standalone

Remove runTest from misc suite.
  common/src/main/java/cz/crcs/ectester/common/util/ECUtil.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneMiscSuite.java
Due: Common, Standalone

Fix Botan ECKCDSA.
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/botan.cpp
Due: Standalone

Remove runTest from performance suite.
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandalonePerformanceSuite.java
Due: Standalone

Remove runTest from composite suite.
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCompositeSuite.java
Due: Standalone

Unify Invalid, Degenerate and Twist suites on standalone.
  common/src/main/java/cz/crcs/ectester/common/ec/EC_Curve.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneDegenerateSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneForeignSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneInvalidSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneTwistSuite.java
Due: Common, Standalone

Remove runTest from the rest of the standalone suites.
  common/src/main/java/cz/crcs/ectester/common/ec/EC_Curve.java
  common/src/main/java/cz/crcs/ectester/common/test/TestSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/KeyGeneratorTest.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneForeignSuite.java
Due: Common, Standalone

Handle numeric lib versions better.
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/botan.cpp
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/mbedtls.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/tomcrypt.c
Due: Standalone

Allow for control over deterministic/randomized test-runs in reader.
  reader/src/main/java/cz/crcs/ectester/reader/ECTesterReader.java
  reader/src/main/java/cz/crcs/ectester/reader/output/TextTestWriter.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardCofactorSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardCompositeSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardCompressionSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardDefaultSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardDegenerateSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardEdgeCasesSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardInvalidSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardMiscSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardSignatureSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardTestSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardTestVectorSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardTwistSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardWrongSuite.java
Due: Reader

Add output tests to reader.
  reader/src/test/java/cz/crcs/ectester/reader/OutputTests.java
Due: Reader

Add support for deterministic PRNG to OpenSSL.
  standalone/src/main/java/cz/crcs/ectester/standalone/ECTesterStandalone.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/OpensslLib.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/ProviderECLibrary.java
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/native.h
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/openssl.c
Due: Standalone

Add deterministic PRNG support to tomcrypt.
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/TomcryptLib.java
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/native.h
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/openssl.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/tomcrypt.c
Due: Standalone

Fix messed up native header file.
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/native.h
Due: Standalone

Add deterministic PRNG to Botan.
  standalone/src/main/java/cz/crcs/ectester/standalone/ECTesterStandalone.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/BotanLib.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/OpensslLib.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/ProviderECLibrary.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/TomcryptLib.java
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/Makefile
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/botan.cpp
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/native.h
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/openssl.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/tomcrypt.c
Due: Standalone

Build various version of libtomcrypt
  flake.nix
  nix/libtomcrypt-pkgconfig-for-static.patch
  nix/libtomcrypt-pkgconfig-makefile.txt
  nix/libtomcrypt-pkgconfig-makefile_include.mk.txt
  nix/libtomcrypt.pc.in
  nix/tomcrypt_pkg_versions.nix
Due: none

Keep consistent ordering of libs
  flake.nix
Due: none

Make default Tomcrypt build properly
  flake.nix
  nix/boringssl_pkg_versions.nix
Due: none

Build script for fetching releases with Nix
  flake.nix
Due: none

Start adding some libgcrypt version
  flake.nix
  nix/gcrypt_pkg_versions.nix
Due: none

Add libgcrypt version fetcher
  fetchReleases.py
Due: none

Allow testing against various versions of MbedTLS
  fetchReleases.py
  flake.nix
  nix/mbedtls_pkg_versions.nix
  nix/mbedtlsshim.nix
Due: none

Build various version of IPP Crypto
  fetchReleases.py
  flake.nix
  nix/ippcp_pkg_versions.nix
Due: none

Build various version of Nettle
  fetchReleases.py
  flake.nix
  nix/nettle_pkg_versions.nix
Due: none

Default to previous source not version
  flake.nix
Due: none

Build various version of LibreSSL
  fetchReleases.py
  flake.nix
  nix/libressl_pkg_versions.nix
Due: none

Remove old and release-candidate versions and hash unpacked source
  nix/nettle_pkg_versions.nix
Due: none

Simplify KeyAgreementTestable.
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/KeyAgreementTestable.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCofactorSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCompositeSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneDefaultSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneEdgeCasesSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneForeignSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneMiscSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandalonePerformanceSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneTestVectorSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneWrongSuite.java
Due: Standalone

Cleanup KeyGeneratorTestable.
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/KeyGeneratorTestable.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneDefaultSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneEdgeCasesSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneForeignSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneMiscSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandalonePerformanceSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneWrongSuite.java
Due: Standalone

Add random arg to SignatureTestable.
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/KeyAgreementTestable.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/KeyGeneratorTestable.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/SignatureTestable.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCofactorSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCompositeSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneDefaultSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneMiscSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandalonePerformanceSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneSignatureSuite.java
Due: Standalone

Propagate SecureRandom to testables in standalone.
  standalone/src/main/java/cz/crcs/ectester/standalone/output/TextTestWriter.java
  standalone/src/main/java/cz/crcs/ectester/standalone/output/XMLTestWriter.java
  standalone/src/main/java/cz/crcs/ectester/standalone/output/YAMLTestWriter.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCofactorSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCompositeSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneDefaultSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneEdgeCasesSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneForeignSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneMiscSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandalonePerformanceSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneSignatureSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneTestSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneTestVectorSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneWrongSuite.java
Due: Standalone

Add support for deterministic PRNG to SunEC and BouncyCastle.
  common/src/main/java/cz/crcs/ectester/common/util/Util.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardTestSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/ECTesterStandalone.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/BouncyCastleLib.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/SunECLib.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneEdgeCasesSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneTestSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneWrongSuite.java
Due: Common, Reader, Standalone

Test deterministic keygen in standalone.
  common/src/main/java/cz/crcs/ectester/common/util/Util.java
  standalone/src/main/java/cz/crcs/ectester/standalone/ECTesterStandalone.java
  standalone/src/test/java/cz/crcs/ectester/standalone/AppTests.java
Due: Common, Standalone

Path conditions:
  Applet: any of: applet/**
  Common: any of: common/**
  Reader: any of: reader/**
  Standalone: any of: standalone/**
