Repository crocs-muni/ECTester: changes, and which Codecov flags are due for each by the changed paths.
All: Applet, Common, Reader, Standalone

.codecov.yml:

comment:
  layout: "condensed_header, condensed_diff, condensed_flags, condensed_components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: applet_package
      name: Applet
      paths:
        - applet/**
    - component_id: common_package
      name: Common
      paths:
        - common/**
    - component_id: reader_package
      name: Reader
      paths:
        - reader/**
    - component_id: standalone_package
      name: Standalone
      paths:
        - standalone/**

Add repeated card tests.
  reader/src/main/java/cz/crcs/ectester/reader/ECTesterReader.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardCofactorSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardDegenerateSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardEdgeCasesSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardInvalidSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardSignatureSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardTwistSuite.java
Due: Reader

Fix List.addFirst
  reader/src/main/java/cz/crcs/ectester/reader/test/CardEdgeCasesSuite.java
Due: Reader

Add test-shuffle and document.
  README.md
  reader/src/main/java/cz/crcs/ectester/reader/ECTesterReader.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardCofactorSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardCompositeSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardDegenerateSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardEdgeCasesSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardInvalidSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardSignatureSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardTwistSuite.java
Due: Reader

Add more signature tests for completeness.
  common/src/main/resources/cz/crcs/ectester/data/wrong/results.xml
Due: Common

Add number and shuffle params to standalone.
  standalone/src/main/java/cz/crcs/ectester/standalone/ECTesterStandalone.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCofactorSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCompositeSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneEdgeCasesSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneForeignSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneMiscSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneSignatureSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneTestSuite.java
Due: Standalone

Fix test object overwriting in multiple repeats.
  common/src/main/java/cz/crcs/ectester/common/test/CompoundTest.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardCofactorSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardCompositeSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardDegenerateSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardEdgeCasesSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardInvalidSuite.java
  reader/src/main/java/cz/crcs/ectester/reader/test/CardTwistSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCofactorSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCompositeSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneEdgeCasesSuite.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneForeignSuite.java
Due: Common, Reader, Standalone

Fix multiple runs in standalone.
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/KeyAgreementTestable.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/KeyGeneratorTestable.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/SignatureTestable.java
  standalone/src/main/java/cz/crcs/ectester/standalone/test/base/StandaloneTestable.java
Due: Standalone

update epare notebook
  epare/re.ipynb
Due: none

More efficient small scalar computation.
  epare/re.ipynb
Due: none

Split notebook off.
  epare/common.py
  epare/simulate.ipynb
  epare/visualize.ipynb
Due: none

Fixup simulate notebook.
  epare/simulate.ipynb
Due: none

Remove RE notebook. Fix simulate one.
  epare/re.ipynb
  epare/simulate.ipynb
Due: none

Update notebooks.
  epare/collect_leia.ipynb
  epare/common.py
  epare/simulate.ipynb
  epare/visualize.ipynb
Due: none

Default to both keybuilders in reader.
  reader/src/main/java/cz/crcs/ectester/reader/ECTesterReader.java
Due: Reader

Update notebooks.
  epare/collect_leia.ipynb
  epare/simulate.ipynb
  epare/visualize.ipynb
Due: none

Add simulate script.
  epare/simulate.py
Due: none

Add duration and precomp type to common.
  epare/common.py
Due: none

Add more metadata to mult simulation.
  epare/common.py
  epare/simulate.py
Due: none

Cleanup.
  .gitignore
  epare/graphs/resistant.png
Due: none

Fix kind set in task script.
  epare/simulate.py
Due: none

Add script for probmap building.
  epare/common.py
  epare/probmaps.py
  epare/visualize.ipynb
Due: none

Fix probmaps script.
  epare/probmaps.py
Due: none

Fix typo.
  epare/probmaps.py
Due: none

New visualize notebook.
  epare/visualize.ipynb
Due: none

Remove missing curve.
  applet/build.gradle.kts
  common/src/main/resources/cz/crcs/ectester/data/cofactor/curves.xml
Due: Applet, Common

Update visualization notebook and leia collection.
  epare/collect_leia.ipynb
  epare/common.py
  epare/visualize.ipynb
Due: none

Add countermeasure and scalarmult distinguishing notebooks.
  epare/countermeasures.ipynb
  epare/distinguish.ipynb
Due: none

Add more mults and ctrs.
  epare/common.py
  epare/distinguish.ipynb
  epare/simulate.ipynb
  epare/simulate.py
Due: none

Allow for external pubkey in ECDH.
  common/src/main/java/cz/crcs/ectester/common/ec/EC_Params.java
  common/src/main/java/cz/crcs/ectester/common/util/ECUtil.java
  reader/src/main/java/cz/crcs/ectester/reader/ECTesterReader.java
Due: Common, Reader

Fix CombMult init.
  epare/common.py
Due: none

Add gitignore.
  epare/.gitignore
Due: none

Make simulate work with scratchdir.
  epare/simulate.py
Due: none

Fix probmaps to use new multiples format using appended pickles.
  epare/probmaps.py
Due: none

Make the simulate notebook work with the new multiples format.
  epare/simulate.ipynb
  epare/visualize.ipynb
Due: none

Add init/mult name into chunks.
  epare/probmaps.py
  epare/simulate.ipynb
  epare/simulate.py
  epare/visualize.ipynb
Due: none
