Repository crocs-muni/ECTester: changes, and which Codecov flags are due for each by the changed paths.
All: Applet, Common, Reader, Standalone

Fix default BoringSSL build.
  flake.nix
Due: none

More BoringSSL builds.
  flake.nix
Due: none

Add Nix info to README.
  README.md
Due: none

By default build ECTester with default, aka newest fetched, libraries
  flake.nix
Due: none

Remove old devShell.
  flake.nix
Due: none

Update README with submodule info.
  README.md
Due: none

Fix nix examples in README.
  README.md
Due: none

Bump to latest JDK in Nix, also fix unicode output issue.
  flake.nix
  nix/boringsslshim.nix
  nix/botanshim.nix
  nix/cryptoppshim.nix
  nix/ippcpshim.nix
  nix/libresslshim.nix
  nix/mbedtlsshim.nix
  nix/nettleshim.nix
  nix/opensslshim.nix
  nix/tomcryptshim.nix
Due: none

Move nix-related Python scripts to nix directory.
  flake.nix
  nix/build_all.py
  nix/fetch_releases.py
  nix/plot_versions.py
Due: none

Add test-all nix script.
  flake.nix
  nix/test_all.py
Due: none

Add timeout to test-all.
  nix/test_all.py
Due: none

Don't build Nettle's shared libs for Nix
  flake.nix
Due: none

Use headless Java for both build and runtime
  flake.nix
Due: none

Use default Java version
  flake.nix
Due: none

Refactor test_all script.
  nix/test_all.py
Due: none

Split off results in test_all script.
  nix/test_all.py
Due: none

Fix typo.
  nix/test_all.py
Due: none

Fix txt not choosing the correct output type in standalone.
  nix/test_all.py
  standalone/src/main/java/cz/crcs/ectester/standalone/output/FileTestWriter.java
Due: Standalone

Only test if build worked in test_all.
  nix/test_all.py
Due: none

Shut up nix in test_all.
  nix/test_all.py
Due: none

Use proper library name in test_all.
  nix/test_all.py
Due: none

Measure and log duration of individual tests in output.
  common/src/main/java/cz/crcs/ectester/common/output/BaseTextTestWriter.java
  common/src/main/java/cz/crcs/ectester/common/output/BaseXMLTestWriter.java
  common/src/main/java/cz/crcs/ectester/common/output/BaseYAMLTestWriter.java
  common/src/main/java/cz/crcs/ectester/common/test/Test.java
  reader/src/main/java/cz/crcs/ectester/reader/output/FileTestWriter.java
Due: Common, Reader

Handle misplaced options better in the standalone CLI.
  common/src/main/java/cz/crcs/ectester/common/cli/ParserOptions.java
  common/src/main/java/cz/crcs/ectester/common/cli/TreeParser.java
  standalone/src/main/java/cz/crcs/ectester/standalone/ECTesterStandalone.java
Due: Common, Standalone

Allow for no-preload option and correctly handle PRNG support.
  nix/commonlibs.nix
  standalone/src/main/java/cz/crcs/ectester/standalone/ECTesterStandalone.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/BoringsslLib.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/GcryptLib.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/LibresslLib.java
  standalone/src/main/java/cz/crcs/ectester/standalone/libs/NativeECLibrary.java
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/Makefile
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/Makefile.ext
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/c_prng.c
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/native.h
Due: Standalone

Unify shim nix files and add versions to them.
  nix/boringsslshim.nix
  nix/botanshim.nix
  nix/commonlibs.nix
  nix/cryptoppshim.nix
  nix/gcryptshim.nix
  nix/ippcpshim.nix
  nix/libresslshim.nix
  nix/mbedtlsshim.nix
  nix/nettleshim.nix
  nix/opensslshim.nix
  nix/tomcryptshim.nix
Due: none

Remove forgotten print.
  standalone/src/main/java/cz/crcs/ectester/standalone/ECTesterStandalone.java
Due: Standalone

Add composite order cofactor points from @vojtechsu.
  common/src/main/resources/cz/crcs/ectester/data/cofactor/keys.xml
  standalone/src/main/java/cz/crcs/ectester/standalone/test/suites/StandaloneCofactorSuite.java
Due: Common, Standalone

Add mmore result value types to distinguish tests that do not matter.
  common/src/main/java/cz/crcs/ectester/common/output/BaseTextTestWriter.java
  common/src/main/java/cz/crcs/ectester/common/test/CompoundTest.java
  common/src/main/java/cz/crcs/ectester/common/test/Result.java
Due: Common

Fix padding of points and public keys sent to cards, add a test.
  common/build.gradle.kts
  common/src/main/resources/cz/crcs/ectester/data/anomalous/anomalous521.csv
  common/src/main/resources/cz/crcs/ectester/data/gost/gost256.csv
  common/src/main/resources/cz/crcs/ectester/data/invalid/nist/k233.xml
  common/src/main/resources/cz/crcs/ectester/data/misc/keys.xml
  common/src/main/resources/cz/crcs/ectester/data/wrong/pseudo521.csv
  common/src/test/java/cz/crcs/ectester/common/CardIntegerPaddingTests.java
Due: Common

Add exception to the set command that checks the generator and pubkey size.
  common/src/test/java/cz/crcs/ectester/common/CardIntegerPaddingTests.java
  reader/src/main/java/cz/crcs/ectester/reader/command/Command.java
Due: Common, Reader

Fix point length check.
  common/src/main/java/cz/crcs/ectester/common/ec/EC_Data.java
  common/src/main/java/cz/crcs/ectester/common/ec/EC_Params.java
  common/src/test/java/cz/crcs/ectester/common/ParamSerializationTests.java
  reader/src/main/java/cz/crcs/ectester/reader/command/Command.java
Due: Common, Reader

Bump to ubuntu 24.04 in CI.
  .github/workflows/build.yml
Due: none

Compile nasm ourselves in CI.
  .github/workflows/build.yml
Due: none

WIP: Attempt to support new IPPCP APIs. Fail...
  standalone/src/main/resources/cz/crcs/ectester/standalone/libs/jni/ippcp.c
Due: Standalone

Remove IPPCP from tests.
  standalone/src/test/java/cz/crcs/ectester/standalone/AppTests.java
  standalone/src/test/java/cz/crcs/ectester/standalone/DeterministicTests.java
Due: Standalone

Add architeccture overview image to docs.
  docs/architecture.pdf
  docs/architecture.svg
Due: none

Add newer IPP-CP versions.
  nix/fetch_releases.py
  nix/ippcp_pkg_versions.json
Due: none

Bump library versions in nix.
  nix/boringssl_pkg_versions.json
  nix/libressl_pkg_versions.json
  nix/mbedtls_pkg_versions.json
  nix/openssl_pkg_versions.json
Due: none

Fix mbedtls hash issue (for now).
  nix/fetch_releases.py
  nix/mbedtls_pkg_versions.json
Due: none

Path conditions:
  Applet: any of: applet/**
  Common: any of: common/**
  Reader: any of: reader/**
  Standalone: any of: standalone/**
